active()
	background red
	color #fff

/*=====================
	Tests
=====================*/
.family
	margin 0
	padding 0
	&__item
		list-style none
		display inline-block
		width 9%
		border 1px solid #000
		margin-bottom 4px
		text-align center
		// +first(3)
		// 	active()
		// +last(3)
		// 	active()
		// +after-first(5)
		// 	active()
		// +from-end(3)
		// 	active()
		// +between(3, 6)
		// 	active()
		// +even-between(3, 12)
		// 	active()
		// +n-between(3,3,30)
		// 	active()
		// +all-but(3)
		// 	active()
		// +each(3)
		// 	active()
		// +every(3)
		// 	active()
		// +from-first-last(2)
		// 	active()
		// +middle(5)
		// 	active()
		// +all-but-first-last(2)
		// 	active()
		// +first-of(10)
		// 	active()
		// +last-of(10)
		// 	active()
		// +at-least(5)
		// 	active()
		// +at-most(5)
		// 	active()
		// +inbetween(5, 9)
		// 	active()
		// +first-child()
		// 	active()
		// +last-child()
		// 	active()
		// +even()
		// 	active()
		// +odd()
		// 	active()
		// +first-last()
		// 	active()
		// +unique()
		// 	active()
		// +only()
		// 	active()
		// +not-unique()
		// 	active()
		// +child-index(10)
		// 	active()
